apturl==0.5.2
asgiref==3.3.0
blinker==1.4
Brotli==1.0.9
catfish==4.16.0
certifi==2020.6.20
chardet==4.0.0
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
delegator.py==0.1.1
distro==1.5.0
distro-info==1.0
Flask==1.1.2
frida==14.2.18
frida-tools==9.2.4
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httplib2==0.18.1
hyperframe==6.0.0
idna==2.10
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.2
kaitaistruct==0.9
keyring==22.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
ldap3==2.8.1
lightdm-gtk-greeter-settings==1.2.2
litecli==1.6.0
MarkupSafe==1.1.1
menulibre==2.2.1
mitmproxy==6.0.2
msgpack==1.0.0
mugshot==0.4.3
netifaces==0.10.9
oauthlib==3.1.0
objection==1.11.0
olefile==0.46
onboard==1.4.1
passlib==1.7.2
pexpect==4.8.0
Pillow==8.1.2
prompt-toolkit==3.0.18
protobuf==3.12.4
psutil==5.8.0
PyBluez==0.23
publicsuffix2==2.20191221
pyasn1==0.4.8
pycairo==1.16.2
pycrypto==2.6.1
pycups==2.0.1
Pygments==2.9.0
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.0
python-apt==2.1.7+ubuntu2
python-dateutil==2.8.1
python-debian==0.1.39
PyYAML==5.3.1
reportlab==3.5.66
requests==2.25.1
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
SecretStorage==3.3.1
semver==2.13.0
sgt-launcher==0.2.5
simplejson==3.17.2
six==1.15.0
sortedcontainers==2.1.0
sqlparse==0.4.1
systemd-python==234
tabulate==0.8.9
terminaltables==3.1.0
tornado==6.1
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.2
urwid==2.1.2
wadllib==1.3.5
wcwidth==0.2.5
Werkzeug==1.0.1
wsproto==0.15.0
xcffib==0.8.1
xkit==0.0.0
